{% load static %}

<!DOCTYPE HTML>
<html>
<head>
<title>Find Your Perfect Partner - Makemylove
 | Register :: Make My Love
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap-3.1.1.min.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<!--font-Awesome-->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<!--font-Awesome-->
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
</head>
<body>
<!-- ============================  Navigation Start =========================== -->
<?php include_once("includes/navigation.php");?>
<!-- ============================  Navigation End ============================ -->
<div class="grid_3">
  <div class="container">
   <div class="breadcrumb1">
     <ul>
        <a href="index.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">Create Your Profile</li>
     </ul>
   </div>

	     <div class="col-sm-24 space_all">
    <div class="col-sm-12">
      <div class="register_right">
        <form class="center_2" method="POST" class="form-sample" name ="myForm">
			{% csrf_token %}
          <div class="register_right_inner clearfix">
			  <div class="clearfix clear_1" name = "name" id = "name">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_3" >
						<label class="bio-label">Full Name</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.name}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "contact" id = "contact">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Contact</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.contact}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "email" id = "email">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Email</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.email}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "place_of_birth" id = "place_of_birth">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Place of Birth</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.place_of_birth}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "sub_place" id = "sub_place">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Sub Place</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.sub_place}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "dob" id = "dob">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Date Of Birth</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.dob}}
				</div>
			  </div>

				<input class="btn btn-primary btn-rounded btn-fw" id="submit" type = "submit"  value="save">

			  <!--div class="clearfix clear_1" name = "timeofBirth" id = "timeofBirth">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Time Of Birth</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.timeofBirth}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "caste" id = "caste">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Caste</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.caste}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "sub_caste" id = "sub_caste">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Sub Caste</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.sub_caste}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "gotra" id = "gotra">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Gotra</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.gotra}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "manglik" id = "manglik">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Manglik</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.manglik}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "rashi" id = "rashi">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Rashi</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.rashi}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "nakshatra" id = "nakshatra">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Nakshatra</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.nakshatra}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "height" id = "height">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Height</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.height}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "religion" id = "religion">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Religion</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.religion}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "education" id = "education">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Education</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.education}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "employee" id = "employee">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Employee</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.employee}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "income" id = "income">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Income</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.income}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "college_name" id = "college_name">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">College Name</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.college_name}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "org_name" id = "org_name">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Organization Name</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.org_name}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "fname" id = "fname">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Father Name</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.fname}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "mname" id = "mname">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Mother Name</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.mname}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "foccupation" id = "foccupation">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Father Occupation</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.foccupation}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "moccupation" id = "moccupation">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Mother Occupation</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.moccupation}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "brothers" id = "brothers">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Brothers</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.brothers}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "sisters" id = "sisters">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Sisters</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.sisters}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "mbrothers" id = "mbrothers">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Married Brothers</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.mbrothers}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "msisters" id = "msisters">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label"> Married Sisters</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.msisters}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "address" id = "address">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Address</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.address}}
				</div>
			  </div>
			  <div class="clearfix clear_1" name = "paddress" id = "paddress">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Permenent Address</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.paddress}}
				</div>
			  </div>


			  <div class="clearfix clear_1">
				<div class="col-sm-4 register_right_inner_1">
					<div class="center_4">
						<label class="bio-label">Full Name</label>
					</div>
				</div>
				<div class="col-sm-8 register_right_inner_1">
				   {{form.name}}
				</div>
			  </div-->

		  <!--div class="clearfix col-sm-12 clear_2 space_all">
		   <div class="col-sm-5 space_all">
			<div class="col-sm-12 space_all">
			 <div class="col-sm-1 space_all">
			  <div class="center_6">
			   <h4><a href="#"><input type="checkbox"></a></h4>
			  </div>

			 </div>
			  <div class="col-sm-11 space_all">
			    <div class="center_5">
				 <a href="#"><span class="well_5">I have read and agree to the T&C and Privacy Policy</span></a>
				</div>
			 </div>
			</div>
		   </div>

		 </div-->
		</div>



        </form>
      </div>
    </div>
   </div>
	  </div>
	 

   </div>
  </div>
</div>


</body>
</html>	